## Visual Studio & .NET GitIgnore
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/
publish/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.userprefs

# JetBrains Rider
.idea/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
